<footer>
    <div class="container footer">
        <div class="row">
            <div class="col l4 s12" id="footer-menu">
                <h5 class="white-text">menu</h5>
                <ul>
                    <li class="bold"><a href="#baptism" class="waves-effect waves-teal" id="first-link">baptême de chef</a></li>
                    <li class="bold"><a href="#gift-block" class="waves-effect waves-teal">bons cadeaux</a></li>
                    <li class="bold"><a href="#brand-presentation" class="waves-effect waves-teal">qui sommes nous?</a></li>
                    <li class="bold"><a href="#" class="waves-effect waves-teal">notre blog</a></li>
                    <li class="bold"><a href="#contact-block" class="waves-effect waves-teal">nous contacter</a></li>
                </ul>
            </div>
            <div class="col l4 hide-on-med-and-down" id="footer-logo">
                <a class="center-align" href="#"><img src="{{ asset('assets/img/logo-footer.png') }}"></a>
            </div>
            <div class="col l4 m12" id="footer-socialBlock">
                <ul class="" id="social-bar-footer">
                    <li>
                        <a href="https://twitter.com/foodandyoulyon?lang=fr" target="_blank" title="Suivez nous sur Twitter">
                            <i class="fi-social-twitter"><img src="{{ asset('assets/img/twitter.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/foodandyou.fr" target="_blank" title="Suivez nous sur Facebook">
                            <i class="fi-social-facebook"><img src="{{ asset('assets/img/facebook.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/foodandyouofficiel/" target="_blank" title="Suivez nous sur Instagram">
                            <i class="fi-social-instagram"><img src="{{ asset('assets/img/instagram.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://fr.pinterest.com/foodandyouoff/" target="_blank" title="Suivez nous sur Pinterest">
                            <i class="fi-social-pinterest"><img src="{{ asset('assets/img/pinterest.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCU0HxrC4qokELKXxxIBmWPg" target="_blank" title="Suivez nous sur Youtube">
                            <i class="fi-social-youtube"><img src="{{ asset('assets/img/youtube.png') }}"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container footer">
            <p class="center">© 2016-2017 FOOD&YOU | <a href="#">Crédits et Mentions légales</a></p>
        </div>
    </div>
</footer>