{% block content %}
    <header>
        <nav class="default" role="navigation">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center"><img src="{{ asset('dev/img/logo-header.png') }}"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                    <img src="{{ asset('dev/img/menu-icon.png') }}" id="icon-menu">
                    <span id="menu-hidden">menu</span>
                </a>
                <ul class="side-nav" id="mobile-demo">
                    <li class="bold"><a href="#baptism" class="waves-effect waves-teal" id="first-link">baptême de chef</a></li>
                    <li class="bold"><a href="#gift-block" class="waves-effect waves-teal">bons cadeaux</a></li>
                    <li class="bold"><a href="#brand-presentation" class="waves-effect waves-teal">qui sommes nous?</a></li>
                    <li class="bold"><a href="#" class="waves-effect waves-teal">notre blog</a></li>
                    <li class="bold"><a href="#contact-block" class="waves-effect waves-teal">nous contacter</a></li>
                </ul>
                <ul class="right" id="social-bar-header">
                    <li>
                        <a href="https://twitter.com/foodandyoulyon?lang=fr" target="_blank" title="Suivez nous sur Twitter">
                            <i class="fi-social-twitter"><img src="{{ asset('assets/img/twitter.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/foodandyou.fr" target="_blank" title="Suivez nous sur Facebook">
                            <i class="fi-social-facebook"><img src="{{ asset('assets/img/facebook.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/foodandyouofficiel/" target="_blank" title="Suivez nous sur Instagram">
                            <i class="fi-social-instagram"><img src="{{ asset('assets/img/instagram.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://fr.pinterest.com/foodandyouoff/" target="_blank" title="Suivez nous sur Pinterest">
                            <i class="fi-social-pinterest"><img src="{{ asset('assets/img/pinterest.png') }}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCU0HxrC4qokELKXxxIBmWPg" target="_blank" title="Suivez nous sur Youtube">
                            <i class="fi-social-youtube"><img src="{{ asset('assets/img/youtube.png') }}"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}